<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">

        <!-- {{message}} -->

        <ul>
            <li v-for="product in products">
                {{product.name}} -- {{product.price}}
                <a href="#" @click="addToCart(product)">Add to cart</a>
            </li>
        </ul>

        <h1>cart - {{cart.length}}</h1>

        <ul>
            <li v-for="item in cart">
                {{item.name}} -- {{item.price}} --{{item.qty}}
            </li>
        </ul><br>

        <input type="text" placeholder="type name here" v-model="message">
        <input type="number" placeholder="type price here" v-model="price">
        <button href="#" @click="addToProduct">Add to cart</button><br> Total: {{total}}


    </div>

    <!-- vue.js library -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        let obj = {
            //el = element
            el: '#app',
            data: {
                message: 'hello!!!',
                price: 0,
                products: [{
                    name: 'iphone',
                    price: 300,
                    qty: 1
                }, {
                    name: 'samsung',
                    price: 320,
                    qty: 1
                }, {
                    name: 'sony',
                    price: 400,
                    qty: 1
                }],
                cart: []
            },
            methods: {
                addToProduct() {
                    this.products.push({
                        name: this.message,
                        price: this.price
                    })
                },
                addToCart(product) {

                    let itemExists = this.cart.find(function(item) {
                        if (item.name === product.name) {
                            return item
                        }
                    })
                    if (itemExists) {
                        console.log('item exixts');
                        itemExists.item++

                    } else {

                        this.cart.push(product)
                    }

                },
            },
            //computed depends on existing data
            computed: {
                total() {
                    let temp = 0;
                    //imp
                    this.cart.forEach(function(item) {
                        temp = temp + item.price
                    })
                    return temp
                }
            }
        }


        new Vue(obj) //send obj to Vue
    </script>
</body>

</html>